<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <style>
    strong {
        color: #d02f2f;
    }

    .on-vue {
        color: #1a35dd;
    }

    .danger  {
        color: #d02f2f;
    }

    .info {
        color: #1a35dd;
    }

    .success {
        color: #15ae15;
    }

    .vuejs-enter-active, .vuejs-leave-active {
        transition: opacity .5s;
    }

    .vuejs-enter, .vuejs-leave-to {
        opacity: 0;
    }
</style>
</head>
<body>

<div id="app">
      <button @click="isVueJs = !isVueJs">토글 엘리먼트</button>
      <div v-for="(item,key) in items" :key="key">
            <transition name="vuejs" appear>
                  <span v-if="item.visible" :class="item.class">{{item.text}}</span>
            </transition>
      </div>
       <!-- 이벤트 핸들링 -->
    <button
            v-on:click="clickCount++"
            v-on:keyup.left="clickCount--"
            v-on:keyup.right="clickCount++">
        {{ clickCount }}
    </button>
</div>

<script>
      new Vue({
            el:"#app",
            data:{
                  isVueJs : false,
                  isShow : false,
                  items : [
                        {
                              class : 'danger',
                              text : '첫번째',
                              visible : true
                        },
                        {
                              class : 'info',
                              text : '두번째',
                              visible : true
                        },
                        {
                              class : 'success',
                              text : '세번째',
                              visible : false
                        },
                  ],
                  clickCount : 0
            },
            methods :{
                  toggle : function(key){
                        this.items[key].value = !this.items[key].value;
                  }

            }
      });

</script>
</body>
</html>